<h1>Name: </h1>
<%= @me.name %>
<br/>
<h1>Country: </h1>
<%= @me.country %>
<br/>
<h1>Year: </h1>
<%= @me.year %>
<br />
<h1>Fun Fact: </h1>
<%= @me.funfact %>
<br />
<h1>Excited Most: </h1>
<%= @me.excited %>
<br />